*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
}

header {
    background: url("https://media.istockphoto.com/photos/downtown-los-angeles-skyline-at-sunset-picture-id963514284?b=1&k=20&m=963514284&s=170667a&w=0&h=qVOQwWmNtyDYkwfUScNTqe6oJ-AbFGszwzwoGluTNEA=");
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: cover; /* cover */
    padding: 2em;
}

h1 {
    font-family: 'Kaushan Script', cursive;
}

.container {
    margin: 0 auto;
    max-width: 1128px;
    width: 80%;
}

.row {
    display: flex;
    justify-content: space-between;
}

.nav {
    align-self: flex-start;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-item + .nav-item {
    margin-left: .6em;
}

.nav-link {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
}

.hero-text {
    color: #fff;
    margin: 0 auto;
    padding: 8em 0;
    text-align: center;
    width: 67%;
}

.hero-span {
    font-family: 'Space Mono', monospace;
    font-weight: 900;
    letter-spacing: .1em;
    text-decoration: underline overline;
    text-transform: uppercase;
}

.hero-btn {
    background: orangered;
    border-radius: 100px;
    color: #fff;
    font-weight: 900;
    text-decoration: none;
    padding: .75em .8em;
}